<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {%block head%} {%endblock%}
</head>
<body>
    <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='images/long_logo.png')}}"></a>
    <nav> 
        <a href="https://wearecodenation.com/" target="_blank"> Visit Code Nation</a>
        <a href="https://wearecodenation.com/2022/04/25/develop-coding/" target="_blank"> Develop: Coding</a>
        <a href="https://wearecodenation.com/2022/04/25/develop-cyber/" target="_blank"> Develop: Cyber</a>
    
    </nav>
    {%block body%} {%endblock%}
</body>
</html>