{% extends 'base.html' %}

{%block head%} <title>Code Nation</title> {%endblock%}

{%block body%} 

<div class="content">
    <img src="{{ url_for('static', filename='images/long_logo.png')}}">
    <h1>Sign Up</h1>
<p> Thanks for visiting us today at Liverpool MakeFest 2022! We hope you had a great day!</p>
<p> If you'd like to learn more about our courses, please submit your contact details below and our admissions team will be in touch with you!</p>
    <form action='/' method='POST'>
        Your Name:
        <input type='text' name='name' id='name' placeholder='Your Name'>
        E-mail Address:
        <input type='text' name='email' id='email' placeholder='email@address.co.uk'>
        Contact Number:
        <input type='text' name='number' id='number'>
        Interest(Coding/Cyber):
        <input type='text' name='course' id='course'>
        By submitting the information above, you are allowing Code Nation to store your data for the purpose 
        <input type='checkbox' name="market" id="market">
        <input type='submit' value='Add New Asset'>
    </form>
</div>
{%endblock%}