@font-face {
    font-family: gil-bold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
}

*{
    font-family: 'gil-bold', sans-serif;
}

body {
    background-color:rgb(244, 249, 245);
}

img{
    width: 50vw;
}

table{
    width: 90%;
}

th,  td {
    border: solid 1px #ccc;
}

input{
    display: block;
    margin-bottom: 2%;
    padding: 1%;
    width: 40vw;
}

input[placeholder]{
    color: grey;
    padding-top: 1.5%;
}

input[placeholder]:focus{
    color: purple;
    padding-top: 1.5%;
}