@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-color:rgb(244, 249, 245);
}

table{
    width: 90%;
}

th,  td {
    border: solid 1px #ccc;
}

input{
    display: block;
    margin-bottom: 2%;
    padding: 1%;
}

input[placeholder]{
    color: grey;
    padding-top: 1.5%;
}

input[placeholder]:focus{
    color: purple;
    padding-top: 1.5%;
}